/* Header */
.main-header {
    padding: 0.5rem;
    color: #577A7F;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
}


#langEng {
    margin-left: 0;
}

.main-nav a {
    color: #577A7F;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 0.9rem;
}



.login-btn {
    border: 1px solid #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}