/* Reset default browser styles */
body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #F2F4F5;
  /* Optional: Sets a background color from your theme */
}

#root {
  min-height: 100vh;
}